.top-space{
  padding-top: 20px;

}

.navbar{
  flex-direction: row;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}


.fixed-action-btn {
    position: fixed;
    right: 240px;
    bottom: 100px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 998;
    border-radius: 30px;

}
.my-nav{
  background-color: orange;
}


.btn-orange{
	background-color: orange;
}
