<div class="top-space" >

  <nav class="navbar navbar-dark my-nav ">
    <span class="navbar-brand">Lista de Quizzes</span>


    <form class="form-inline navbar-right">
      <input class="form-control mr-sm-2" type="search" placeholder="Procurar" aria-label="Search">
      <button class="btn btn-primary my-2 my-sm-0" type="submit">Procurar</button>
    </form>
  </nav>

</div>

<br>

<table>
  <tr>
    <th>ID</th>
    <th>TÍTULO</th>
    <th>DESCRIÇÃO</th>
    <th>CÓDIGO SECRETO</th>
    <th>OPÇÕES</th>
  </tr>
  <tr *ngFor="let quiz of quizzes">
    <td>{{quiz._id}}</td>
    <td>{{quiz.title}}</td>
    <td>{{quiz.description}}</td>
    <td>{{quiz.secret_code}}</td>
    <td>
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="option(quiz)">opções</button>
    </td>
  </tr>
</table>

<div class="fixed-action-btn" >
  <button class="btn btn-orange" (click)="create()" ><span> Criar Quiz</span></button>
</div>
