<div class="centraliza">


    <form  #f="ngForm" (ngSubmit)="login()" class="form-signin text-center">

      <img class="mb-4" src="../assets/img/logo.png" alt="" width="250" height="250">

      <div class="form-group">
        <input type="email" id="email" class="form-control" placeholder="Email@email.com" required autofocus
        name="email" [(ngModel)]="user.email" #email="ngModel" >

      </div>

      <div class="form-group">
        <input type="password" id="password" class="form-control" placeholder="Senha" required autofocus
        name="password" [(ngModel)]="user.password" #password="ngModel" >

      </div>

      <button type="submit" class="btn btn-lg btn-orange btn-block"> Login</button>

      <div *ngIf="error" class="form-group">
        <h4>Erro ao tentar fazer o login</h4>
      </div>

    </form>
  </div>
